{{ define "main" }}
<main>
  <h2>
    <a href="{{.RelPermalink}}">
      {{ .Title }}
    </a>
  </h2>
{{ $c := .Content }}
{{ $c := $c | replaceRE "\\blinkman:([a-z-]+)\\[(\\d)\\]" "<a href=\"/man/$1\">$1($2)</a>" }}
{{ $c := $c | replaceRE "\\blinkstg:([a-z]+)\\[\\]" "<a href=\"/man/stg-$1\">stg $1</a>" }}
{{ $c := $c | replaceRE "\\blinkstgsub:([a-z]+)\\[\\]" "<a href=\"/man/stg-$1\">$1</a>" }}
{{ $c := $c | replaceRE "<a href=\"stg\">1</a>" "<a href=\"/man/stg\">stg(1)</a>" }}
{{ $c := $c | replaceRE "\\blinkgit:(git(?:-?\\w*)?)\\[(\\d)\\]" "<a href=\"https://git-scm.com/docs/$1\">$1($2)</a>" }}
{{ $c | safeHTML }}
</main>
{{ end }}
